<div style="width: 70%;margin:40px auto">
  <button mat-button routerLink="/eps/crear">Crear Nueva EPS</button>
  
    <h1>Lista de EPS</h1>
<div class="mat-elevation-z8">
    <table mat-table [dataSource]="resultados" class="mat-elevation-z8">
  
      <!-- Position Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef>Id </th>
        <td mat-cell *matCellDef="let element"> {{element.id}}</td>
      </ng-container>
  
      <!-- Name Column -->  
      <ng-container matColumnDef="nombreEps">
        <th mat-header-cell *matHeaderCellDef> Nombre </th>
        <td mat-cell *matCellDef="let element">  {{element.nombreEPS}}</td>
      </ng-container>
        <!-- Name Column -->  
        <ng-container matColumnDef="estado">
            <th mat-header-cell *matHeaderCellDef> Estado </th>
            <td mat-cell *matCellDef="let element">  {{element.estado}}</td>
          </ng-container>
          <ng-container matColumnDef="acciones">
            <th mat-header-cell *matHeaderCellDef> Acciones </th>
            <td mat-cell *matCellDef="let element"> 
                <button (click)="editarEps(element)" mat-raised-button>Editar</button>
                <button (click)="removerEps(element)" mat-raised-button>Eliminar</button>
            </td>
          </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
  
</div>